# PostgreSQL
POSTGRES_DB=movies_db
POSTGRES_DB_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=some_password
POSTGRES_HOST=postgres_theater

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@gmail.com
PGADMIN_DEFAULT_PASSWORD=admin

# JWT keys
SECRET_KEY_ACCESS=QHpV0d7kuGxAbO2_p7TI3iWwbnYU_GoJAJdG4DuANz8
SECRET_KEY_REFRESH=qM5SzAau3ob3Bcp0JOepT4lPxf3QkDiA49T9XRTTOzg
JWT_SIGNING_ALGORITHM=HS256

# MailHog
MAILHOG_USER=admin
MAILHOG_PASSWORD=some_password

# MailHog
EMAIL_HOST=mailhog
EMAIL_PORT=1025
EMAIL_HOST_USER=testuser
EMAIL_HOST_PASSWORD=test_password
EMAIL_USE_TLS=False

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=some_password
MINIO_HOST=minio_theater
MINIO_PORT=9000
MINIO_STORAGE=theater-storage

#Stripe
STRIPE_SECRET_KEY=sk_test...
STRIPE_PUBLISHABLE_KEY=pk_test...
STRIPE_WEBHOOK_SECRET=whsec_...

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
